!!! 5
html(lang='en')
    head
        title Example
        link(rel='stylesheet', href='/css/master.css')
        script(data-main='/js/main.js', src='/components/requirejs/require.js')
    body
        #container